html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
}

/* Navbar section */
.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(68, 50, 151);
}

.navbar_frame .container {
  padding: 20px 0px 14px;
  flex-direction: column;
}

.navbar_frame .navbar_top {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.navbar_frame .navbar_top > a img {
  width: 117px;
  height: 36px;
  margin-right: 76px;
}

.navbar_frame .navbar_top .nav_search_frame {
  width: 651px;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 6px;
}

.navbar_frame .navbar_top .search_box {
  padding: 10px 17px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_frame .search_box .category_list {
  width: 166.5;
  height: 30px;
  border-right: 1px solid #d6d6d6;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_frame .category_list select {
  width: 166px;
  height: 30px;

  border: none;
  outline: none;

  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .search_box input {
  margin-left: 13px;
  width: 387px;
  height: 22px;

  border: none;
  outline: none;

  color: rgb(98, 105, 116);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .nav_search_frame .search_icon_box {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 0 6px 6px 0;
  background: rgb(245, 195, 75);
}

.navbar_frame .search_icon_box img {
  width: 20px;
  height: 20px;
}

.navbar_frame .navbar_top .nav_top_menu {
  margin-left: 59px;
  width: 417px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_frame .nav_top_menu .top_menu_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.navbar_frame .top_menu_box .box_icon_box {
  position: relative;
  margin-right: 16px;
  width: 55px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.navbar_frame .box_icon_box img {
  width: 22px;
  height: 22px;
}

.navbar_frame .top_menu_box .box_info-box {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.navbar_frame .box_info-box span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  list-style: 22px;
  color: #ffffff;
}

.navbar_frame .box_info-box strong {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  list-style: 22px;
  color: #ffffff;
}

.navbar_frame .box_icon_box .basket_count {
  width: 16px;
  height: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(245, 195, 75);
  border-radius: 50%;

  color: rgb(11, 30, 64);
  font-family: "Jost";
  font-size: 8px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0%;
  text-align: left;

  position: absolute;
  top: -2px;
  right: -2px;
}

.navbar_frame .navbar_bottom {
  margin-top: 20px;
  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-top: 1px solid #5746a1;
}

.navbar_frame .navbar_bottom .navbar_bottom_menu_box {
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_frame .navbar_bottom_menu_box .browse_box {
  margin-top: 10px;
  width: 185px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid #5746a1;
}

.navbar_frame .browse_box img {
  margin-right: 10px;
  width: 20px;
  height: 18px;
}

.navbar_frame .browse_box span {
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .navbar_bottom_menu_box .navbar_route_menu {
  width: 690px;
  margin-top: 10px;
  margin-left: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_frame .navbar_route_menu .router_menu {
  margin-right: 20px;
  width: auto;
  height: 41px;

  display: flex;
}

.navbar_frame .router_menu a {
  display: flex;
  align-items: center;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.navbar_frame .router_menu a.active {
  color: #f5c34b;
}

.navbar_frame .navbar_bottom_menu_box .sorting_menu {
  display: flex;
  flex-direction: row;
}

.navbar_frame .sorting_menu span {
  margin-left: 20px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  font-family: "Jost";
  font-style: norm;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

/* Pagionation section */

.container .pagionation_box {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .pagionation_box .pagionation_main {
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .pagionation_main img {
  cursor: pointer;
}

.container .pagionation_main .pagionation_dot {
  margin: 0 21px;
  display: flex;
  flex-direction: row;
}

.container .pagionation_dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  cursor: pointer;
}

.container .pagionation_dot .dot.active {
  border: 2px solid #112137;
}

.container .pagionation_dot .dot div {
  width: 4px;
  height: 4px;
  background-color: #112137;
  border-radius: 50%;
}

/* Footer Section */

.footer_frame {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #f3f5f6;

  padding: 90px 0 20px;
}

.footer_frame .footer_spec_title {
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;

  margin-bottom: 30px;
}

.footer_frame .container {
  flex-direction: column;
}

.footer_frame .container .footer_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.footer_frame .footer_top .footer_contact_box {
  display: flex;
  flex-direction: column;
}

.footer_frame .footer_contact_box .footer_contact_main {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.footer_frame .footer_contact_main img {
  width: 35px;
  height: 30px;
}

.footer_frame .footer_contact_main div {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.footer_frame .footer_contact_main div strong {
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.footer_frame .footer_contact_main div span {
  margin-top: 10px;

  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.footer_frame .footer_support_box {
  display: flex;
  flex-direction: column;
  width: 194px;
  height: 246px;
  margin-left: 65px;
}

.footer_frame .footer_support_box .footer_support_links {
  display: flex;
  flex-direction: column;

  width: 166px;
  height: 200px;
}

.footer_frame .footer_support_box .footer_support_links a {
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
}

.footer_frame .footer_top .footer_media_box {
  margin-left: 55px;
  display: flex;
  flex-direction: column;
}

.footer_frame .footer_media_box .footer_media_main {
  display: flex;
  flex-direction: column;
}

.footer_frame .footer_media_main .media_box {
  display: flex;
  flex-direction: row;
}

.footer_frame .media_box i {
  margin-right: 25px;
}

.footer_frame .footer_media_main .mobile_app_box {
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer_frame .mobile_app_box img {
  width: 24px;
  height: 16px;
}

.footer_frame .mobile_app_box span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  color: #042e42;

  margin-left: 20px;
}

.footer_frame .footer_media_main .card_box {
  width: 272px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_frame .container .footer_bottom {
  margin-top: 90px;
  width: 100%;
  height: 60px;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-top: 2px solid rgb(234, 234, 234);
}

.footer_frame .footer_bottom .footer_main {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.footer_frame .footer_main .footer_bottom_left {
  width: 940px;
  height: auto;

  display: flex;
  flex-direction: row;
}

.footer_frame .footer_bottom_left span {
  margin-right: 60px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  color: rgb(4, 30, 66);
}

.footer_frame .footer_bottom .footer_bottom_right {
  width: 400px;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_frame .footer_bottom_right .footer_select_box {
  padding: 10px 20px;
  width: 188px;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;

  background: #ffffff;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  border-radius: 6px;
}

.footer_frame .footer_select_box span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;

  color: #626974;
}

.footer_frame .footer_select_box select {
  margin-left: 20px;
  width: 70px;
  height: 90%;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;

  color: #041e42;
}
