.home_page {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.container .category_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .category_top span {
  color: #041e42;
  font-family: "Jost";
  font-style: normal;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  text-transform: capitalize;
}

.container .category_top a {
  position: relative;
  color: #041e42;
  font-family: "Jost";
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.container .category_top a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #041e42;
  transition: width 0.4s ease-in-out;
}

.container .category_top a:hover::after {
  width: 100%;
}
/* 
.category_top a:hover {
  border-bottom: 2px solid #041e42;
} */

/* Header section starts */
.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.header_frame .container {
  flex-direction: row;
}

.header_frame .container .header_left {
  position: relative;
  width: 872px;
  height: 508px;
  border-radius: 6px;

  background-color: #0053f6;
  background-image: url(../images/icons/header_bg.svg);
}

.header_frame .header_left .header_content {
  margin-top: 101px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.header_frame .header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: rgb(245, 195, 75);

  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  color: #041e42;
}

.header_frame .header_left span {
  margin-top: 10px;
  width: 428px;
  height: 152px;

  font: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 87px;
  letter-spacing: 0%;
  color: #ffffff;
}

.header_frame .header_left p {
  margin-top: 10px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.header_frame .header_content button {
  margin-top: 20px;
  width: 140px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  background-color: #f5c34b;
  border-radius: 6px;
  border: 1px solid #f5c34b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}

.header_frame .header_content button:hover {
  background-color: #27ae60;
  border: 1px solid #27ae60;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.header_frame .header_content img {
  position: absolute;
  right: 17px;
}

.header_frame .container .header_right {
  position: relative;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_frame .header_right .header_box {
  width: 422px;
  height: 240px;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
}

.header_frame .header_right .box_left {
  margin-left: 30px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_frame .box_left span {
  color: rgb(0, 83, 246);
  font-family: "Jost";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.header_frame .box_left p {
  margin: 10px 0;
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-size: 26px;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
}

.header_frame .box_left a {
  position: relative;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}

.header_frame .box_left a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #041e42;
  transition: width 0.4s ease-in-out;
}

.header_frame .box_left a:hover::after {
  width: 70px;
}

.header_frame .header_box .box_right {
  width: 50%;
}

.box_right a {
  width: 100%;
  height: 100%;
}

/* Header section ends */

/* Service Section starts */
.home_page .service_frame {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 30px;

  display: flex;
  justify-content: center;
}

.service_frame .container {
  flex-direction: row;
}

.service_frame .container .service_box {
  width: 25%;
  height: 86px;

  display: flex;
  flex-direction: row;

  border-bottom: 1px solid #eaeaea;
}

.service_frame .service_box img {
  width: 35px;
  height: 35px;
}

.service_frame .service_box .service_info {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.service_frame .service_info span {
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.service_frame .service_info p {
  color: rgb(98, 105, 116);
  font-family: "Jost";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
/* Service section starts */

/* Category Section starts */
.home_page .category_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.category_frame .container {
  flex-direction: column;
}

.category_frame .container .category_bottom {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category_frame .category_bottom .category_box {
  width: 142px;
  height: auto;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.category_frame .category_box .category_img {
  width: 142px;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #eaeaea;
  border-radius: 150px;
}

.category_frame .category_box span {
  margin-top: 15px;
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;

  color: #041e42;
}

/* Category section ends */

/* Top selling section starts */

.home_page .selling_product_frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selling_product_frame .container {
  flex-direction: column;
}

.selling_product_frame .container .product_wrapper {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selling_product_frame .product_wrapper .next_prev_box {
  width: 70px;
}

.selling_product_frame .next_prev_box img {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.product_wrapper .product_boxes {
  position: relative;
  width: 1224px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.selling_product_frame .product_boxes .product_box {
  flex: 1;
  height: auto;

  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.selling_product_frame .product_box .product_img_box {
  width: 100%;
  height: 280px;
}

.selling_product_frame .product_img_box .hover_box {
  margin-bottom: 10px;
  display: none;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.selling_product_frame .hover_box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;
  border: none;

  background: #0053f6;
  box-shadow: 0 5px 20px rgba(0, 83, 246, 0.1);
  border-radius: 6px;
  font-family: "Jost";
  font-style: normal;

  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.selling_product_frame .hover_box .hover_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 3;
}

.selling_product_frame .hover_icons .hover_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: 8px;
}

.selling_product_frame .hover_icons img {
  width: 20px;
  height: 20px;
}

.selling_product_frame .hover_box button:hover {
  background: #034cdd;
}

.selling_product_frame .hover_icons .hover_img:hover {
  background: #f5c34b;
}

.selling_product_frame .product_img_box:hover .hover_box {
  display: flex;
}

.selling_product_frame .product_content_box {
  box-sizing: border-box;
  padding: 5px 22px;
  width: 100%;
  height: auto;
}

.selling_product_frame .product_content_box .product_title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  color: #626974;
}

.selling_product_frame .product_content_box .product_desc {
  height: 56px;
  margin-top: 7px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #041e42;
  overflow: hidden;
}

.selling_product_frame .product_content_box .review_box {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selling_product_frame .review_box img {
  margin-right: 5px;
}

.selling_product_frame .review_box span {
  margin-left: 5px;

  color: rgb(98, 105, 116);
  font-family: "Jost";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.selling_product_frame .product_content_box .price_box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selling_product_frame .price_box strong {
  color: #041e42;
  font-family: "Jost";
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.selling_product_frame .price_box span {
  margin-left: 10px;
  color: #626974;
  font-family: "Jost";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
}
/* Top selling products section ends */

/* ADV sections starts */
.home_page .adv_frame {
  margin-top: 90px;
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e5edff;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #0053f6;
}
/* ADV section ends */

/* Special Product section starts */
.home_page .spec_products_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spec_products_frame .container {
  flex-direction: column;
}

.spec_products_frame .container .spec_product_wrapper {
  position: relative;
  margin-top: 35px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.spec_products_frame .spec_product_wrapper .big_product_box {
  position: relative;
  padding: 30px;
  width: 664px;
  height: 368px;
  background: #f3f5f6;
  border-radius: 6px;

  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.spec_products_frame .big_product_box .big_product_content {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.spec_products_frame .big_product_content span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}

.spec_products_frame .big_product_content p {
  margin: 7px 0;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 38px;
  color: #041e42;
}

.spec_products_frame .big_product_content a {
  position: relative;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}

.spec_products_frame .big_product_content a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #041e42;
  transition: width 0.4s ease-in-out;
}

.spec_products_frame .big_product_content a:hover::after {
  width: 70px;
}

.spec_products_frame .big_product_box img {
  position: absolute;
  width: 322.5px;
  height: 309px;
  right: 5%;
}

.spec_products_frame .spec_product_wrapper .small_product_wrapper {
  margin-left: 30px;
  width: 620px;
  height: 368px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.spec_products_frame .small_product_wrapper .small_product_box {
  position: relative;
  padding: 30px;
  width: 293px;
  height: 170px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  box-sizing: border-box;
  background: #f3f5f6;
  border-radius: 6px;
}

.spec_products_frame .small_product_wrapper .small_product_box:nth-child(odd) {
  margin-right: 33px;
}

.spec_products_frame .small_product_box .small_product_content {
  display: flex;
  flex-direction: column;
}

.spec_products_frame .small_product_content strong {
  color: #041e42;
  font-family: "Jost";
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.spec_products_frame .small_product_content span {
  color: #626974;
  font-family: "Jost";
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}

.spec_products_frame .small_product_box img {
  position: absolute;
  right: 30px;
  top: 40px;
}

.spec_products_frame .small_product_box .img2 {
  position: absolute;
  right: 37px;
  top: 44px;
}

.spec_products_frame .small_product_box .img3 {
  position: absolute;
  right: 21px;
  top: 88px;
}

.spec_products_frame .small_product_box .img4 {
  position: absolute;
  right: 22px;
  top: 81px;
}